body {
    margin: 0px;
    background-color: black;
}
#mapScreen {
  z-index: 10;
}
#gameScreen{
  display: flex;
  flex-direction: row;
}
#progress{
  display: flex;
  align-items: center;
  justify-self: center;
  font-family: 'Silkscreen', cursive;
  image-rendering: pixelated;
  font-size: 2vw;
  gap: 5px;
  margin: 20px;
}
#inv{
  display: grid;
  grid-template-columns: 50% 50%;
  color: #ffffff;
  text-align: center;
  image-rendering: pixelated;
  margin: 20px;
}
#inv img{
  width: 3vw;
}
#progress img{
  width: 5vw;
}
#ui {
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#congrats {
    flex-direction: column;
    align-items: center;
    pointer-events: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(87, 85, 85, 0.8);
    color: white;
    padding: 20px 30px;
    border-radius: 10px;
    width: 20vw;
    text-align: center;
    z-index: 1;
}
i{
    margin-top: 20px;
    font-size: 24px;
}
img{
    width: 20vw;
}
#progress{
  color: #ffffff;
}