body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}
#gameScreen {
  z-index: 1;
}

#ui {
  position: absolute;
  z-index: 10;
}

#congrats {
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.8);
    color: white;
    padding: 20px 30px;
    border-radius: 10px;
    text-align: center;
}
i{
    margin-top: 20px;
    font-size: 24px;
}
img{
    width: 20vw;
}